# dependencies
/node_modules
/.pnp
.pnp.*

# tests and builds
/coverage
/.next/
/out/
__pycache__/
*.pyc

# local files
.DS_Store
*.pem
*.log

# environment files
.env*
!.env.example

# TypeScript
*.tsbuildinfo

# hosting
.vercel
